<!DOCTYPE html>
<html lang="en">
<head>
{% extends 'Index.html' %}
{% load static %}
            <link href="{% static '/css/style.css' %}" rel="stylesheet">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}



     {% for i in loa %}
 <div class="card" style="display:inline-block !important; height:200px;width:200px;">

     <img class="card-img-top" src="{% static 'media/' %}{{i.img}}" alt="Card image cap">

       <a href="{{i.id}}" class="btn btn-danger">تفاصيل</a>

     </div>
     {% endfor %}



{% endblock %}

</body>
</html>