<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'Index.html'  %}
    {% load static %}
        <link href="{% static '/css/style.css' %}" rel="stylesheet">

    <meta charset="UTF-8">


</head>
<body>
 {% block body %}
 <br><br><br>
 <div class="card" style="width: 40rem;">

  <div class="card-body">
      <h1 style="align text : center;"   >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; من نحن</h1>
    <p > نحن مجموعة من  الناس أمنا  بمبادئ راسخة مبادئ اساس كل مجتمع كل  حضارة كل   دولة تبنى على اساس صحيح  امنا ان الاعطاء من اعلى قيم الانسانية الاعطاء دون انتظار مقابل لهذا الاعطاء التفكير بشكل يساعد مجتمعنا على النهوض  على التفكير بشكل ايجابي مهما يكن   نحن  مجموعة نقوم بعمل تطبيقات خدمة مجتمع لمساعدة الاخرين لمساعدة وطننا الذي يجب علينا بان نقوم بواجبنا اتجاهه وطننا هذا اقل ما يمكن ان نقدمه لهذا الوطن عملنا هذا لا ننتظر منه اي مقابل . من يؤمن بهذة المبادئ بهده القيم واراد مشاركتنا  في عملنا الذاهب لملئ المعلومات  في الرابط الاسفل  لغرض الانضمام معنا    </p>
    <a href="http://info@codeforiraq.org" class="card-link">انضم الان</a>

  </div>

</div>

    {% endblock %}

</body>
</html>